# SkillSwap Environment Configuration
# CognoDB Cloud Connection Details (or any openCypher / Neo4j compatible database)
# Obtain free instance credentials at https://console.cognodb.com

COGNODB_URI=bolt+s://db-bce0d3a9.bravo.databases.cognodb.com
COGNODB_USERNAME=cognodb
COGNODB_PASSWORD=2da2b5cce5db254034ce37415b24badc
PORT=5000
NODE_ENV=development
